/* Background Image Wrapper */
#wrapper {
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    opacity: 90%;
    z-index: 0;
}

/* Style for Welcome message */
#welcome-message, #welcome-message-bold {
    font-size: 2rem;
    line-height: 0.9;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 100%;
}

#welcome-message-bold {
    font-weight: 600;
}

.sub-head {
    font-weight: 600;
    margin-bottom: 0;
}

.profile-picture {
    width: 18rem;
    height: 24rem;
    margin: .5rem;
}

/* Outline box */
.outline-box {
    padding: 20px; 
    background-color: #f7f7f7; 
    margin: 0 auto;
    opacity: 90%;
}

.content-container {
    width: 60vw;
    margin: 0 auto;
}

.content-section {
    margin: 0 auto 0 auto;
}

.set-section {
    width: 75ch;
}

/* For different hr */
.short-hr {
    margin: 0 auto 1.25rem;
    max-width: 25rem;
    border-image: linear-gradient(to right, transparent, #000000, transparent);
    border-image-slice: 50% 0% 50% 0%;
}

/* Medium Screen Size */
@media print, screen and (min-width: 40em) and (max-width: 68em) {
    #wrapper {
        background-size: auto;
        background-position: 80% 30%;
    }
    .outline-box {        
        text-align: center;
    }
    #menu-button {
        font-size: 1.75rem;
    }
    .content-container {
        width: 80vw;
    }
    h2 {
        font-size: 2.25rem;
    }
}

/* Small Screen Size */
@media print, screen and (max-width: 40em) {
    #wrapper {
        background-size: auto;
        background-position: 75% 30%;
    }
    .outline-box {        
        text-align: center;
    }
    #menu-button {
        font-size: 1.5rem;
    }
    .content-container {
        width: 100vw;
    }
    h2 {
        font-size: 2rem;
    }
}

/* @media screen and (orientation: portrait) {
    .content-section {
        text-align: center;
    }
} */

/* =================================
    For slideshow formatting
    Adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp
    Original code by W3Schools
================================= */
/* Hide slide images */
.filter-slide {
    display: none;
}

/* Contains all slides in a slideshow */
.slideshow-container {
    margin: auto 5rem auto 1rem;
    border: 1px solid #000000;
    position: relative;
    overflow: hidden;
    width: 30rem;
}

/* If photos are in portrait form */
.portrait-form {
    aspect-ratio: 9/16;
}

/* If photos are in landscape form */
.landscape-form {
    aspect-ratio: 16/9;
}

/* Slide image formatting */
.slide-img {
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.number-text {
    color: #f2f2f2;
    font-size: .5rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: #5a5a5a;
    opacity: 75%;
    display: none;
}

.caption {
    color: #f2f2f2;
    font-size: .75rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #5a5a5a;
    opacity: 75%;
    display: none;
}

.slideshow-container:hover .number-text, .slideshow-container:hover .caption {
    display: block;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
}